<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据信息</title>
</head>
<body>
   <h1>信息</h1>
<!--   <script type="text/javascript">-->
<!--      n=0;-->
<!--       setTimeout(function () {-->
<!--           window.location.reload();-->
<!--           n = n+1;-->
<!--           document.write(n);-->
<!--       },1000)-->
<!--   </script>-->
    <u1>
        <li>
            <a herf="#">UA相位差={{test.UA}}</a>
        </li>
        <li>
            <a herf="#">UB相位差={{test.UB}}</a>
        </li>
        <li>
            <a herf="#">UC相位差={{test.UC}}</a>
        </li>
        <li>
            <a herf="#">IA相位差={{test.IA}}</a>
        </li>
        <li>
            <a herf="#">IB相位差={{test.IB}}</a>
        </li>
        <li>
            <a herf="#">IC相位差={{test.IC}}</a>
        </li>
    </u1>
<!--<script type="text/javascript">-->
<!--    function f() {-->
<!--        while (1)-->
<!--        {-->
<!--            location.reload()-->
<!--        }-->

<!--    }-->
<!--</script>-->
</body>
</html>