<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p id="test">等待AJAX异步响应测试结果</p>
<script src="static/code/modules/exporting.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="static/code/highcharts.js"></script>
<script src="static/realtimedata.js"></script>
<table  align="center">
<tr>
    <td>
<div id="spline" style="width: 900px;height:600px;"></div>
    </td>
</table>
<script type="text/javascript">//定义图中内容
var time;
//读取数据库数据
json_data={};
$(document).ready(function(){
        Highcharts.setOptions({
            global: {
                    useUTC: false
            }
                            });
        function activeLastPointToolip(chart) {
                var points = chart.series[0].points;
                chart.tooltip.refresh(points[points.length -1]);}
        function realtime_data() {
                            var data = [],
                    time = (new Date()).getTime(),
                    i;
                    for(i=-19;i<=0;i+=1){
                    data.push({
                        x: time + i * 1000,
                        y: 0,
                    });
                }
                return data;
        }
        var chart =Highcharts.chart('spline', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {
                        var series1 = this.series[0];
                        var series2 = this.series[1];
                        var series3 = this.series[2];
                        var series4 = this.series[3];
                        var series5 = this.series[4];
                        var series6 = this.series[5];
                            chart = this;
                        activeLastPointToolip(chart);
                        setInterval(function () {
        document.getElementById("test").innerText="UA="+json_data.UA+"  UB="+json_data.UB+"  UC="+
        json_data.UC+"  IA="+json_data.IA+"  IB="+json_data.IB+"  IC="+json_data.IC;
                            var x = (new Date()).getTime(); // 当前时间
                            loadXMLDoc();
                            // if (data_id >= 577)
                            //     data_id = 234;
                            // data_id = data_id + 1;
                            y = json_data.UA,
                            y1 = json_data.UB,
                            y2 = json_data.UC,
                            y3 = json_data.IA,
                            y4 = json_data.IB,
                            y5 = json_data.IC,
                            series1.addPoint([x, y], true, true);
                            series2.addPoint([x, y1], true, true);
                            series3.addPoint([x, y2], true, true);
                            series4.addPoint([x, y3], true, true);
                            series5.addPoint([x, y4], true, true);
                            series6.addPoint([x, y5], true, true);
                            activeLastPointToolip(chart);
                        }, 1000);
                    },
                },
            },
        credits:{enabled:false},
        title: {
            text: '相位实时监测'
        },
        xAxis: {
            type: 'datetime',  //指定坐标轴类型
            tickPixelInterval: 150  //设置坐标轴刻度之间像素距离
        },
        yAxis: {
            title: {
                text: 'v'
            },
            plotLines: [{
                //value: 0,
               // width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                    Highcharts.numberFormat(this.y, 2);
            }
        },
        legend: {
            enabled: true
        },
        exporting: {
            enabled: false
        },
        series: [
            {name: 'UA', data: (realtime_data())},
            {name: 'UB', data: (realtime_data())},
            {name: 'UC', data: (realtime_data())},
            {name: 'IA', data: (realtime_data())},
            {name: 'IB', data: (realtime_data())},
            {name: 'IC', data: (realtime_data())},
        ]
    });

});
		</script>
   <script src="../../static/RealTime.js"></script>
    <p id="time"></p>
</body>
</html>